body{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    height: 70px;
    text-decoration: none;
    justify-content: space-between;
    box-shadow: 1px 10px 20px 0px rgba(0, 0, 0, 0.5);
}
.menu{
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 30px;
}
.menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-top: 50px;
    margin-right: 10px;
    cursor: pointer;
    size: 30px;
    transition: all 0.3s linear;
}
.menu a:hover{
    color: rgb(105, 105, 110);
    font-size: 32px;
}
.logo img{
    width: 50px;
    height: 50px;
    /* margin: 5px; */
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 2px;
}